// Color variables

$active-color: #2F80F3;
$text-color: #242424;
$text-secondary: #788AA4;

// Font variables

$text-main: "SF Pro Display", Helvetica, Arial, sans-serif;

// Custom breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1024px,
  xxl: 1300px
);

// Grid containers

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1000px,
  xxl: 1275px
);
